body .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body .blocks .block {
    /*background-color: black;*/
    border: 1px;
    border-color: black;
    width: 100px;
    height: 60px;
    padding: auto;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}

body .blocks .block div {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    transition: all .5s;
    translate: 0 calc(50% - 5px);
}

body .blocks .block:hover div {
    translate: 0 100%;
}